/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }
  Body{
    background-color: rgb(147, 147, 147);
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  